<!--The content below is only a placeholder and can be replaced.-->
<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <button routerLink="/news">{{ 'sites.news' | translate }}</button> <br>
        <button routerLink="">{{ 'sites.home' | translate }}</button> <br>
        <button routerLink="">{{ 'sites.about' | translate }}</button> <br>
        <button routerLink="">{{ 'sites.contact' | translate }}</button> <br>
        <div *ngIf="showFiller">
            <form [formGroup]="formm">
                <mat-form-field>
                    <mat-select formControlName="language">
                        <mat-option *ngFor="let idiom of idioms" [value]="idiom.value">
                            {{ 'options.'+idiom.viewValue | translate }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <button (click)="useLanguage()">{{ 'options.accept' | translate }}</button>
            </form>
        </div>
        <button *ngIf="!showFiller" (click)="showFiller = !showFiller" mat-raised-button>
                {{ 'options.select' | translate }}
        </button>
    </mat-drawer>

    <mat-toolbar>
        <mat-toolbar-row>
            <button type="button" mat-button (click)="drawer.toggle()">
                <p>{{ 'options.menu' | translate }}</p>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

</mat-drawer-container>


<router-outlet></router-outlet>