<mat-card class="card">
  <mat-card-header>
    <mat-card-title class="title"> {{ new.title }}</mat-card-title>
    <mat-card-subtitle class="subtitle">{{ new.author }}</mat-card-subtitle>
  </mat-card-header>
  <img class="images" mat-card-image src="{{ new.urlToImage }}" alt="Photo of the new">
  <mat-card-content>
    <p class="text">
      {{ new.content }}
    </p>
  </mat-card-content>
  <mat-card-footer class="footer">
   <p class="text"> {{ new.publishedAt }} </p>
    <p class="text"> {{ new.source.name }} </p>
    <p class="text"> {{ new.url }} </p>
  </mat-card-footer>
</mat-card>