.images {
    height: 100px;
}
.text{
    color: black;
    font-size: 11px;
    font-family: Roboto;
}
.card {
    background-color: white;
}
.title{
    color: black;
    font-weight: bold;
    font-size: 14px;
}

.subtitle{
    color: black;
    font-size: 12px;
}